{% extends 'main/base.html' %}

{%block title %}Новости{% endblock %}
{% block content %}
  <h1>Новости</h1>
  <ul class = "news-list">
    {% for news in news_list %}
      <li class = "news-item">
        <h2>{{ news.title }}</h2>
        <h3>{{news.anons}}</h3>
        <p>{{ news.text|truncatewords:20 }}</p>
        <p class = "news-date">Дата: {{ news.date }}</p>
        <a href = "{% url 'news_detail' news.pk%}" class = "btn">Читать подробнее</a>
      </li>
    {%empty%}
    <p>Новостей нет</p>
    {% endfor %}
  </ul>
{% endblock %}